.header {
  padding-top: 10px;
  padding-left: 10px;
}

// .logo {
//   width: 134px;
//   height: 28px;
//   // left: 15px;
//   // top: 16px;
//   font-size: 24px;
//   line-height: 1.17;
//   letter-spacing: 0.03em;
// }

  // .mobile-menu__list {
  //   margin-bottom: 302px;
  // }
  
  // .mobile-menu__item {
  //   margin-bottom: 32px;
  // }
  
  // .mobile-menu__link {
  //   width: 138px;
  //   height: 48px;
  //   font-size: 40px;
  //   line-height: 1.18;
  //   text-align: center;
  //   letter-spacing: 0.02em;
  //   color: #212121;
  //   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  // }
  
  // .mobile-menu__link:hover, .mobile-menu__link:focus {
  //   color: var(--accent-color);
  // }
  
  // .mobile-tel {
  //   margin-bottom: 32px;
  //   width: 296px;
  //   height: 40px;
  //   font-size: 34px;
  //   line-height: 1.18;
  //   letter-spacing: 0.02em;
  // }
  
  // .mobile-tel__link {
  //   color: var(--accent-color);
  // }
  
  // .mobile-mail__link {
  //   width: 230px;
  //   height: 28px;
  //   font-size: 24px;
  //   line-height: 1.17;
  //   letter-spacing: 0.02em;
  //   color: #757575;
  // }
  
  // .mobile-social__list {
  //   display: flex;
  //   align-items: center;
  //   margin-top: 64px;
  //   width: 100vw;
  //   height: 22px;
  // }
  
  // .mobile-social__item {
  //   margin-right: 20px;
  // }
  
  // .mobile-social__link {
  //   min-width: 58px;
  //   height: 22px;
  //   font-size: 18px;
  //   line-height: 1.22;
  //   letter-spacing: 0.02em;
  //   color: var(--accent-color);

  @media screen and (max-width:767px) {
    .navigation__list {
      display: none;
    }
    
    .contact-link {
      display: none;
    }
    
    .tel-link {
      display: none;
    }

    .burger__btn {
      // border: none;
      // padding: 0;
      top: 10px;
      right: 10px;
    }
    
    .burger__icon {
      width: 40px;
      height: 40px;
      fill: #212121;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      
    
      .burger__btn:hover &,
      .burger__btn:focus & {
         fill: var(--accent-color); 
      }
    }
    
    .burger__btn,
    .mobile-menu__close-btn {
      background-color: transparent;
      border: none;
      padding: 0;
      cursor: pointer;
    }
    
    .mobile-menu__close-btn {
      position: absolute;
      top: 10px;
      right: 15px;
    }
    
    .mobile-menu__close-icon {
      width: 40px;
      height: 40px;
      fill: #212121;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
      .mobile-menu__close-btn:hover &,
      .mobile-menu__close-btn:focus & {
         fill: var(--accent-color); 
      } 
    }

    .mobile-menu {
      position: fixed;
      top: 0;
      left: 50%;
      width: 100vw;
      max-width: 480px;
      height: 100vh;
      padding: 48px 40px;
      background-color: #c23131;
      transform: translateY(-100%) translateX(-50%);
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .is-open {
        transform: translateY(0) translateX(-50%);
      }
  }

  @media screen and (min-width:768px) {
    .burger__btn {
      display: none; 
    }

    .mobile-menu {
      display: none;
    }
  }

  .logo {
    margin-right: 88px;
  }

  .tablet-menu {
    position: absolute;
    width: 768px;
    height: 80px;
    left: 0px;
    top: 0px;
    
    background: #FFFFFF;
  }

  .tablet-menu__list {
    position: absolute;
    width: 294px;
    height: 48px;
    left: 237px;
    top: 32px;
  }

  .tablet-menu__item {
    margin-right: 50px;
  }

  .tablet-menu__link {
    width: 78px;
    height: 16px;
    // left: 336px;
    // top: 32px;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: #212121;
  }

  .tablet-contact__list {

  }

  .tablet-contact__item {
    margin-left: 88px;
  }

  .tablet-tel__link {
    width: 116px;
    height: 14px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;

color: #757575;
  }

  .tablet-mail__link {

  }
    
  


// .header {
  //   padding-top: 24px;
  //   padding-bottom: 25px;
  //   border-bottom: 1px solid #ececec;
  // }
  
  // .header .container {
  //   display: flex;
  //   align-items: center;
  // }
  
  // .navigation {
  //   display: flex;
  //   align-items: center;
  // }
  
  // .navigation__list {
  //   display: flex;
  //   align-items: center;
  // }
  
  // .navigation__link {
  //   font-weight: 500;
  //   font-size: 14px;
  //   line-height: 1.14;
  //   letter-spacing: 0.02em;
  
  //   color: #212121;
  //   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  // &:hover,
  // &:focus {
  //   color: #2196f3;
  // }
  // }
  
  // .navigation__item:not(:last-child) {
  //   margin-right: 50px;
  // }
  
  // .active-link {
  //   color: #2196f3;

  // &::after {
  //   display: block;
  //   content: "";
  //   position: absolute;
  //   width: 48px;
  //   height: 4px;
  //   margin-top: 28px;
    
  //   background: #2196F3;
  //   border-radius: 2px;
  //   }
  // }
  
  