.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    /* padding-top: var(--saction-pt); */
    /* padding-bottom: var(--saction-pb); */
    text-align: center;
  }