:root {
    --main-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    --accent-color: #2196f3;
    --saction-pt-mob: 60px;
    --saction-pb-mob: 60px;
    --saction-pt-tablet: 60px;
    --saction-pb-tablet: 60px;
    --saction-pt-desktop: 47px;
    --saction-pb-desktop: 47px;
  }